
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.nickname %> et bienvenue chez WhiteBoard !</h1>
    <p>
    Tu t'es inscrit sur <strong>WhiteBoard</strong> en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
    Pour accéder à ton espace client, connecte-toi via : <a href=<%= @url %>><%= @url %></a>.
    </p>
    <p> À très vite sur WhiteBoard ! </p>
  </body>
</html>