<div class="modal-content">
  <div class="container">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel">GUIDE : Pourquoi proposer une modification ?</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-11 ml-3">
        <h3 class="my-2"> EXEMPLE 1</h3>
        <p>Un lien dans la ressource ne fonctionne plus ? Vous voulez prévenir l'auteur ou lui envoyer le nouveau lien</p>
        <h3 class="my-2"> EXEMPLE 2</h3>
        <p>Améliorer le contenu de la ressource avec une expérience personnelle et de nouveaux liens qui ont leurs places dans cette ressource</p>
        <h3 class="my-2"> EXEMPLE 3</h3>
        <p>Vous voulez corriger une faute d'orthographe, de grammaire (ou autre) dans la ressource</p>
        <h3 class="my-3"> Les ressources créées par les utilisateurs pour vous sont vivantes et resteront à jour grâce à vous, merci !</h3>
      </div>
    </div>
  </div>
</div>