<div class="feature4 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Notifications</h2>
      </div>
    </div>
  </div>
</div>