<div class="feature4 my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Proposition de modification</h2>

        <div class="feature4 justify-content-center text-center">
          <button type="button" class="btn btn-outline-danger button-up mr-2 pl-2 pr-2" data-toggle="modal" data-target=".bd-example-modal-lg">Pourquoi proposer une modification ? </button>
        </div>
        <div class="feature4 mb-5">
          <div class="container">
            <%= render 'form_new' %>
          </div>
        </div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <%= render 'modal_guide'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>