<div class="bg-light spacer feature20 up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">

            <div class="col-md-3 col-6 wrap-feature4-box float-left mb-5">
                <%if @user.profile_pic.attached?%>
                  <span class="resize_profile"><%= image_tag @user.profile_pic, alt: 'profile_pic', class:"icon-round bg-light-info" %></span>
                <%else%>
                  <div class="icon-round bg-light-info"><i class="fa fa-user fa-lg"></i></div>
                <%end%>
            </div>

            <h2 class="title"><%=@user.nickname.upcase%></h2>
            <h6 class="subtitle">Pour le moment vous n'avez pas de description liée à votre profil. Vous pouvez en ajouter une en modifiant votre profil.</h6>

            <div class="block-search mt-5 mb-5">
            <div class="text-center">
                <div class="btn-group">
                <%= link_to "Editez votre profil", edit_user_path(current_user.id), class:"btn btn-primary" %>
                </div>
            <div class="btn-group">
              <%= link_to "Paramètres du compte", edit_user_registration_path, class:"btn btn-info" %>
            </div>    
          </div>
        </div>
        <nav class="navbar navbar-expand-lg h1-nav">
        <a class="navbar-brand" href="#"><h2 class="title">Ressources</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header1" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu"></span>
          </button>
                           
          <div class="collapse navbar-collapse" id="header1">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link" href="#">Créées</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Favorites</a></li>
              <li class="nav-item"><a class="nav-link" href="#">En Cours</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Terminées</a></li>
          </div>
      </nav>
      </div>
    </div>
  </div>
</div>