    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>Titre</th>
            <th>Lien</th>
          </tr>
        </thead>
        <tbody>
          <% Subject.all.each do |subject| %>
          <% if subject.user_slug == params[:id] %>
          <tr>
            <td><span class="label label-rounded label-info"><%= subject.category %></span> </td>
            <td>
            <%= if subject.title.length > 50 
                  subject.title[0..50] + '[..]'
                else 
                  subject.title
                end %>
            </td>
            <td><%= link_to "Lien", subject_path(subject.slug) %></td>         
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
