
<div class="bg-light spacer feature20 up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">

            <div class="col-md-3 col-6 wrap-feature4-box float-left mb-4">
                <%if @user.profile_pic.attached?%>
                  <span class="resize_profile"><%= image_tag @user.profile_pic, alt: 'profile_pic', class:"icon-round bg-light-info" %></span>
                <%else%>
                  <div class="icon-round bg-light-info"><i class="fa fa-user fa-lg"></i></div>
                <%end%>
            </div>

            <h2 class="title"><%=@user.nickname.upcase%></h2>
            <h6 class="subtitle">Pour le moment vous n'avez pas de description liée à votre profil. Vous pouvez en ajouter une en modifiant votre profil.</h6>

            <div class="block-search mt-5">
            <div class="text-center">
                <div class="btn-group">
                <%= link_to "Editez votre profil", edit_user_path(current_user.id), class:"btn btn-primary" %>
                </div>
            <div class="btn-group">
              <%= link_to "Paramètres du compte", edit_user_registration_path, class:"btn btn-info" %>
            </div>    

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


