<div class="bg-light spacer up">
  <div class="container">
    <div class="row justify-content-center">
      <div>
        <div class=" wrap-feature4-box float-left mb-4">
            <%if @user.profile_pic.attached?%>
              <span><%= image_tag @user.profile_pic, alt: 'profile_pic', class:"img_sizing mr-5" %></span>
            <%else%>
              <div class="no_img_sizing bg-light-info mr-5 text-center "><i class="fa fa-user fa-5x"></i></div>
            <%end%>
        </div>
        <h2 class="title"><%=@user.nickname.upcase%></h2>
        <h6 class="subtitle">Pour le moment vous n'avez pas de description liée à votre profil. Vous pouvez en ajouter une en modifiant votre profil.</h6>
        <div class="block-search mt-5">
          <div class="text-center">
              <div class="btn-group">
              <%= link_to "Editez votre profil", edit_user_path(current_user.id), class:"btn btn-primary" %>
              </div>
          <div class="btn-group">
            <%= link_to "Paramètres du compte", edit_user_registration_path, class:"btn btn-info" %>
          </div>    
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


