    <div class="media mt-3">
      <%= image_tag "https://res.cloudinary.com/dkeq1ghol/image/upload/v1592215464/avatar.png", alt: 'profile_pic', class:"mr-3", style: "width:60px;" %>
      <div class="media-body">
        <h5 class="mt-0"><%= answer.user.nickname %></h5>
        <%= answer.content %>
      </div>
    </div>