<%= render "layouts/jumbotron" %>

<div class="mini-spacer feature4">
  <div class="container">
      <div class="row justify-content-center">
          <div class="text-center mt-3">
              <h2 class="title">Catégories</h2>
              <h6 class="subtitle text">Que voulez-vous apprendre ? Choisissez une catégorie...</h6>
              </div>
          </div>
      </div>
      <div class="row text-center">
      <div class="col-md-2">
      </div>
          <div class="col-md-2 col-6 wrap-feature4-box">
              <div class="card" data-aos="zoom-out-right" data-aos-duration="1200">
                  <div class="card-body">
                      <div class="icon-round"><i class="fa fa-lemon-o"></i></i></div>
                      <h5 class="font-medium">Nutrition</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-6 wrap-feature4-box">
              <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
                  <div class="card-body">
                      <div class="icon-round"><i class="fa fa-music"></i></div>
                      <h5 class="font-medium">Musique</h5>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-6 wrap-feature4-box">
            <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
                <div class="card-body">
                    <div class="icon-round"><i class="fa fa-film"></i></div>
                    <h5 class="font-medium">Cinéma</h5>
                </div>
            </div>
          </div>
          <div class="col-md-2 col-6 wrap-feature4-box">
            <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
                <div class="card-body">
                    <div class="icon-round"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <h5 class="font-medium">Géographie</h5>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="mini-spacer feature4 mb-5">

  <div class="container">
      <div class="row justify-content-center">
          <div class="text-center">
              <h2 class="title">Recherche</h2>
              <h6 class="subtitle">Lancez votre recherche à l’aide de cet element de recherche</h6>
          </div>
      </div>
      
      <div class="block-search mt-5">
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-danger-gradiant dropdown-toggle pl-5 pr-5 mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Musique
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#">Instruments</a>
                    <a class="dropdown-item" href="#">Jazz</a>
                    <a class="dropdown-item" href="#">Opéra</a>
                </div>
            </div>
             <div class="btn-group">
                <button type="button" class="btn btn-secondary mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rechercher
                </button>
            </div>
             <div class="btn-group">
                <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Effacer
                </button>
            </div>
        </div>
      </div>
      
  </div>
</div>

<div class="bg-light spacer feature20 up">

  <div class="container">
      <div class="row justify-content-center">
          <div class="text-center">
              <h2 class="title">Résultats</h2>
              <h6 class="subtitle">Des ressources correspondantes créées par des membres de la communauté sont mises à votre disposition </h6>
          </div>
      </div>

      <div class="row wrap-feature-20">
          <div class="col-lg-6" data-aos="flip-left" data-aos-duration="1200">
              <div class="card">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="card-body d-flex no-block">
                              <div class="w-100">
                                  <h5 class="font-medium mb-0">Ukulélé en 5 étapes</h5>
                                  <small><p>hawai36825 </p></small>
                                  <div class="row">
                                    <h6 class="text-muted mb-0 ml-3">Facile</h6>
                                    <h6 class="text-muted mb-0 ml-4">Musique</h6>
                                    <h6 class="text-muted mb-0 ml-auto mr-3"></h6>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 text-center">
                          <a href="javascript:void(0)" class="linking text-white bg-danger-gradiant"> Voir plus <i class="ti-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6" data-aos="flip-right" data-aos-duration="1200">
              <div class="card">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="card-body d-flex no-block">
                              <div class="w-100">
                                  <h5 class="font-medium mb-0">15 chansons françaises en Ukulélé</h5>
                                  <small><p>michel_gerger</p></small>
                                  <div class="row">
                                    <h6 class="text-muted mb-0 ml-3">Facile</h6>
                                    <h6 class="text-muted mb-0 ml-4">Musique</h6>
                                    <h6 class="text-muted mb-0 ml-auto mr-3"></h6>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 text-center">
                          <a href="javascript:void(0)" class="linking text-white bg-danger-gradiant">Voir plus <i class="ti-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1200">
              <div class="card">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="card-body d-flex no-block">
                              <div class="w-100">
                                  <h5 class="font-medium mb-0">Les bases du Ukulélé</h5>
                                  <small><p>guitare_therapy</p></small>
                                  <div class="row">
                                    <h6 class="text-muted mb-0 ml-3">Facile</h6>
                                    <h6 class="text-muted mb-0 ml-4">Musique</h6>
                                    <h6 class="text-muted mb-0 ml-auto mr-3"></h6>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 text-center">
                          <a href="javascript:void(0)" class="linking text-white bg-danger-gradiant">Voir plus <i class="ti-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1200">
              <div class="card">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="card-body d-flex no-block result-resoources">
                              <div class="w-100"> 
                                  <h5 class="font-medium mb-0">Ukulélé, les erreurs à ne pas faire</h5>
                                  <small><p>albertago</p></small>
                                  <div class="row">
                                      <h6 class="text-muted mb-0 ml-3">Facile</h6>
                                      <h6 class="text-muted mb-0 ml-4">Musique</h6>
                                      <h6 class="text-muted mb-0 ml-auto mr-3"></h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 text-center">
                        <a href="javascript:void(0)" class="linking text-white bg-danger-gradiant"> <div>Voir plus <i class="ti-arrow-right"></i></div></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="spacer feature4">
  <div class="container">
  
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <h2 class="title">Une ressource</h2>
            <h6 class="subtitle">Apaisez votre soif d’apprendre grâce à une ressource créée par un membre de notre communauté </h6>
        </div>
      </div>
      <div class="row mt-5">
        <div class="ml-3 mr-3">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-bookmark fa-2x mr-4 mt-1 icon-bookmark" aria-hidden="true"></i>
                        <h5 class="float-right border border-dark p-2"><strong>Facile</strong></h5>
                    </div>
                    <h2>Ukulélé en 5 étapes</h2>
                    <h3 class="card-title">Introduction</h3>
                    <p class="card-text">Ayant aucune base en instrument à corde, j’ai voulu apprendre le ukulélé tout simplement parce que je me suis retrouvé qu’une amie hawaienne m’en avait ramené un en souvenir. J’ai donc parcouru le net à la recherche de tutoriels et cours gratuits qui existaient.  Après environ 5 mois d’apprentissage où je pratiquais plus ou moins 4 heures par semaine je suis arrivé à un niveau que je jugeais satisfaisant. Jugez-en par vous-même en consultant ma vidéo. 
                      Matériel recommandé : un ukulélé et un tuner.</p>
                    <h3 class="card-title"> <strong>Andy Guitar</strong> </h3>
                    <p class="card-text">Je recommande de suivre les 3 premières vidéos de la chaîne <a href="https://www.youtube.com/watch?v=BBz-Jyr23M4">YouTube d’Andy Guitar</a> et de les revoirs toutes les semaines en faisant les exercices recommandés. Ces vidéos simples et ludiques (dès la première vidéo de 20min, vous apprenez à jouer une chanson), m’ont permis de progresser pas à pas en apprenant toujours quelques accords de plus à chaque leçon.</p>
                    <h3 class="card-title"> <strong>Ben au Ukulélé</strong> </h3>
                    <p class="card-text">La chaîne YouTube Ben au Ukulélé est aussi pleine de bon conseil et tutos pour des chansons. <a href="https://www.youtube.com/watch?v=98dizc1ZNFw&t=339s">Sa vidéo DÉBUTANTS UKULÉLÉ</a> est très explicite et facile à appréhender.</p>
                    <h3 class="card-title"> <strong>Ukulele Travel:</strong> </h3>
                    <p class="card-text"> J’ai beaucoup apprécié les conseils gratuit sur le site <a href="https://www.ukuleletravel.com">yukuleletravel.com</a>
                    Des bonnes astuces et des entraînements tous niveaux bien adaptés.</p>
                </div>
                <div class="card-footer">
                    <div class="row pl-3 pr-3">
                        <div class="rating">
                        </div>
                        <h6 class="mt-3 ml-3 text-success"></h6>
                        <div class="ml-auto mt-2">
                          <button type="button" class="btn btn-secondary btn-outline" data-toggle="tooltip" data-placement="top" title="Ressource en cours de consultation">En cours</button>
                          <button type="button" class="btn btn-secondary btn-outline-danger ml-3" data-toggle="tooltip" data-placement="top" title="Ressource terminée">Terminée</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<%= render "layouts/call_to_action" %>
