<div class="static-slider10" style="background-image:url(../assets/images/static-slider/slider10/img1.jpg)">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-md-12 row align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
            <span class="label label-rounded label-inverse">Creating Brands</span>
            <h1 class="title">Notre histoire</h1>
          <div class="col-md-4">
            <p>Aujourd’hui, le web joue un rôle majeur dans l’apprentissage d’une nouvelle compétence, que ce soit à l’école, en formation professionnelle, au travail, ou même chez soi. Il est cependant facile de s’y perdre au vu de la quantité et de la richesse des ressources disponibles…. Comment s’y retrouver ? Par où commencer ?</p>
            <p>Nous passons plus de temps à rechercher de l’information sur internet plutôt qu’à lire l'information elle-même. La surcharge cognitive et l’infobésité nous donne l’illusion d’une certaine productivité.</p>
          </div>
          <div class="col-md-4">
            <p>C’est ainsi que nous est venu l’idée de Whiteboard : une plateforme regroupant des ressources sélectionnées par des passionnés, pour des passionnés ayant la soif d’apprendre et de transmettre. Chacun et chacune peut ainsi partager ses bons plans tutoriels, livres, vidéos, etc. sur un sujet particulier</p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="spacer feature4">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
          <span class="label label-danger label-rounded">Feature 1</span>
          <h2 class="title">Awesome with Extra Ordinary Flexibility</h2>
          <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row m-t-40">
        <!-- Column -->
        <div class="col-md-6 wrap-feature4-box">
            <div class="card" data-aos="zoom-out-right" data-aos-duration="1200">
                <div class="card-body">
                    <div class="icon-round bg-light-info"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
                    <h5 class="font-medium">Instant Solutions</h5>
                    <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique pellentesque ipsum.</p>
                    <a href="#" class="linking text-themecolor">Explore More</a>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-6 wrap-feature4-box">
            <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
                <div class="card-body">
                    <div class="icon-round bg-light-info"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <h5 class="font-medium">Powerful Techniques </h5>
                    <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique pellentesque ipsum. </p>
                    <a class="linking text-themecolor" href="#">Explore More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row m-t-40">
        <!-- Column -->
        <div class="col-md-6 wrap-feature4-box">
            <div class="card" data-aos="zoom-out-right" data-aos-duration="1200">
                <div class="card-body">
                    <div class="icon-round bg-light-info"><i class="fa fa-comments" aria-hidden="true"></i></div>
                    <h5 class="font-medium">Instant Solutions</h5>
                    <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique pellentesque ipsum.</p>
                    <a href="#" class="linking text-themecolor">Explore More<i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-6 wrap-feature4-box">
            <div class="card" data-aos="zoom-out-left" data-aos-duration="1200">
                <div class="card-body">
                    <div class="icon-round bg-light-info"><i class="fa fa-link" aria-hidden="true"></i></div>
                    <h5 class="font-medium">Powerful Techniques </h5>
                    <p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique pellentesque ipsum. </p>
                    <a class="linking text-themecolor" href="#">Explore More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
  </div>
</div>
<div class="spacer team2">
                    <div class="container">
                        <div class="row justify-content-center m-b-30">
                            <div class="col-md-7 text-center">
                                <h2 class="title">Experienced & Professional Team</h2>
                                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <!-- column  -->
                            <div class="col-lg-3 m-b-30">
                                    <!-- Row -->
                                    <div class="row no-gutters">
                                        <div class="col-md-12 pro-pic" style="background:url(../assets/images/team/t1.jpg) center center no-repeat / cover">
                                            <div class="card-img-overlay">
                                                <ul class="list-inline">    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>   
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="p-t-10">
                                                <h5 class="title font-medium">Michael Doe</h5>
                                                <h6 class="subtitle">Property Specialist</h6>
                                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row -->
                            </div>
                            <!-- column  -->
                            <!-- column  -->
                            <div class="col-lg-3 m-b-30">
                                    <!-- Row -->
                                    <div class="row no-gutters">
                                        <div class="col-md-12 pro-pic" style="background:url(../assets/images/team/t2.jpg) center center no-repeat / cover">
                                            <div class="card-img-overlay">
                                                <ul class="list-inline">    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>   
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="p-t-10">
                                                <h5 class="title font-medium">Michael Doe</h5>
                                                <h6 class="subtitle">Property Specialist</h6>
                                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row -->
                            </div>
                            <!-- column  -->
                            <!-- column  -->
                            <div class="col-lg-3 m-b-30">
                                    <!-- Row -->
                                    <div class="row no-gutters">
                                        <div class="col-md-12 pro-pic" style="background:url(../assets/images/team/t3.jpg) center center no-repeat / cover">
                                            <div class="card-img-overlay">
                                                <ul class="list-inline">    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>   
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="p-t-10">
                                                <h5 class="title font-medium">Michael Doe</h5>
                                                <h6 class="subtitle">Property Specialist</h6>
                                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row -->
                            </div>
                            <!-- column  -->
                            <!-- column  -->
                            <div class="col-lg-3 m-b-30">
                                    <!-- Row -->
                                    <div class="row no-gutters">
                                        <div class="col-md-12 pro-pic" style="background:url(../assets/images/team/t4.jpg) center center no-repeat / cover">
                                            <div class="card-img-overlay">
                                                <ul class="list-inline">    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>   
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>    
                                                    <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="p-t-10">
                                                <h5 class="title font-medium">Michael Doe</h5>
                                                <h6 class="subtitle">Property Specialist</h6>
                                                <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row -->
                            </div>
                            <!-- column  -->
                        </div>
                        
                    </div>
                </div>

