<div class="static-slider6 charte">
  <div class="container mb-5">
    <h1 class="title">Charte WhiteBoard</h1>
    <div class="row text-justify ">
      <div class="row mt-5" data-aos="fade-down" data-aos-duration="1200">
        <div>
          <h2>Article I - PRÉSENTATION</h2>
          <p>Notre site est composé de ressources créés, édités et maintenus par les utilisateurs de WhiteBoard. Il permet de publier sur Internet des expériences d’apprentissage (ressources), en y ajoutant du texte, des liens vers d’autres sites, vidéos, tutoriels. Chaque ressource aura un niveau de difficulté et une catégorie, renseignés par son créateur.</p>
          <p>Chaque utilisateur a la possibilité de  créer une ressource. Il peut également accéder à un son espace personnel (Board), qui résume ses ressources créées, préférées, suivies et terminées.</p>
          <p>Le site WhiteBoard est accessible gratuitement à tous les internautes.</p>
        </div>
        <div>
          <h2>Article II – CONDITIONS</h2>
          <ul>
            <li>Disposer d’une adresse e-mail valide.</li>
            <li>Les contenus des ressources ne devront pas être contraires aux bonnes mœurs, à l’ordre public, ni aux lois et réglementations en vigueur, devront être libres de tout droit et seront sous l’entière responsabilité de leur auteur.</li> 
          </ul>
        <div>
          <h2>Article III -RÈGLES DE CONDUITE</h2>
          <p>Les comportements suivants sont proscrits sur WhiteBoard :</p>
          <p>(Liste de faits indicative et non exhaustive)</p>
          <p>
            <ul>
              <li>Les activités illégales sous toutes leurs formes, notamment la copie ou la distribution non autorisée de logiciels, de photos et d’images, le harcèlement, la fraude, les trafics prohibés, la diffamation, la discrimination raciale, l’incitation à la violence ou à la haine</li>
              <li>La publication de contenus contrevenant aux droits d’autrui ou à caractère diffamatoire, les propos injurieux, obscènes ou offensants</li>
              <li>La violence ou l’incitation à la violence, politique, raciste ou xénophobe, la pornographie, la pédophilie, le révisionnisme et le négationnisme</li> 
              <li>La divulgation d’informations permettant l’identification nominative et précise de membres de de WhiteBoard, telles que le nom de famille, l’adresse postale, l’adresse électronique, le numéro de téléphone</li> 
              <li>Le détournement du service de notre site pour faire de la propagande ou du prosélytisme, à des fins professionnelles ou commerciales (prospection, racolage ou prostitution) et à des fins politiques, religieuses ou sectaires</li> 
              <li>La contrefaçon de marques déposées</li>
              <li>La contrefaçon de marques déposées</li>
              <li>Tout propos de nature à porter atteinte aux intérêts matériels et moraux de WhiteBoard étant précisé que la contestation de faits non avérés, de chiffres non officiels, de l’expression de revendications, et d’actes de management malveillant du type harcèlement ne peuvent être considérés comme de nature à porter atteinte aux intérêts de WhiteBoard</li> 
            </ul>
          </p>
        </div>
        <div>
          <h2>Article IV – RESPONSABILITÉ DES AUTEURS</h2>
          <p>Dans le cadre de sa participation à WhiteBoard en sa qualité d’auteur de texte, propriétaire de sons ou vidéos, chaque créateur de contenu est responsable du contenu proposé, quel qu’il soit (textes, images, sons, vidéos, etc.)</p>

          <p>Il appartient à chaque salarié de surveiller et de censurer son contenu, notamment les commentaires que les internautes seront susceptibles de lire. Les internautes, par le biais de son modérateur, aura la possibilité de signaler ou d’éditer tout commentaire jugé inapproprié avant sa publication.</p>
        </div>
        <div>
          <h2>Article V – MODÉRATION</h2>
          <p>Les administrateurs du site se réservent le droit de suspendre l’accès et la diffusion de tout ou partie d’articles parus contrevenant aux règles édictées, et de demander à l’auteur de supprimer un contenu, proposé, manifestement contraire aux règles de conduite ou pouvant faire l’objet de réclamation par des tiers</p>
        </div>
      </div>
    </div>
  </div>
</div>