<div class="modal-content">
  <div class="container">
    <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">GUIDE : Mettre en forme son contenu !</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-11 ml-3">
        <h4 class="my-2"> TITRES </h4>
        <p># TEXTE = Gros titre</p>
        <p>## TEXTE = Sous-titre</p>
        <p>TEXTE = Texte</p>
        <h4 class="my-2"> STYLES </h4>
        <p>**gras**</p>
        <p>*italique*</p>
        <h4 class="my-2"> LISTES </h4>
        <p>Liste ordonnée : </p>
        <p>1. texte</p>
        <p>1. texte</p>
        <p>Liste désordonnée : </p>
        <p>- texte</p>
        <p>- texte</p>
        <h4 class="my-2"> LIENS </h4>
        <p> [texte visible et cliquable](https://www.example.com) </p>
        <h4 class="my-2"> BARRE HORIZONTALE </h4>
        <p> --- </p>
        <h4 class="my-2"> IMAGE </h4>
        <p> ![texte alternatif si l'image ne s'affiche pas](url_de_l'image.jpg) </p>
        <h4 class="my-2"> ECRIRE DU CODE </h4>
        <p> `code` </p>
        <h5 class="my-2"> Pour plus d'informations, le format de mise en forme est le <%= link_to "Markdown", "https://www.markdownguide.org/cheat-sheet/" %></></h5>
      </div>
    </div>
  </div>
</div>