<div class="modal-content">
  <div class="container">
    <div class="modal-header">
      <h3 class="modal-title" id="exampleModalLabel">GUIDE : Optimisez la création de votre ressource.</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-11 ml-3">
        <h3 class="my-2"> ETAPE 1</h3>
        <p>Trouvez un titre accrocheur et explicite. Quel savoir voulez-vous transmettre ?</p>
        <h3 class="my-2"> ETAPE 2</h3>
        <p>Rédigez une courte introduction en quelques lignes pour décrire ce que vous souhaitez transmettre.</p>
        <h3 class="my-2"> ETAPE 3</h3>
        <p>Racontez votre expérience d’apprentissage. Qu’est-ce qui vous a incité à apprendre cette ressource ? Combien de temps vous a-t-il fallu pour vous sentir plus à l’aise avec ce savoir ? Quelles sont les difficultés que vous avez rencontrés ? etc..</p>
        <h3 class="my-2"> ETAPE 4</h3>
        <p>Intégrez les liens externes qui vous ont permis d'apprendre. N'hésitez pas à expliquer chaque lien afin d'améliorer l'expérience des futurs utilisateurs !</p>
        <h3 class="my-3"> HAVE FUN !</h3>
      </div>
    </div>
  </div>
</div>