<div class="spacer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h1 class="title font-bold">Créer une Ressource</h1>
        <h6 class="subtitle">Partagez votre expérience d'apprentissage avec les membres de la communauté.</h6>
      </div>
    </div>
  </div>
</div>

<div class="feature4 justify-content-center text-center">
  <button type="button" class="btn btn-outline-info button-up mr-2 pr-2 pl-2" data-toggle="modal" data-target=".bd-example-modal-lg">Comment bien rédiger ma ressource ?</button>
  <button type="button" class="btn btn-outline-info button-up pr-2 pl-2" data-toggle="modal" data-target=".bd-modal-lg">Comment mettre en forme mon texte ?</button>
</div>
<div class="mb-5">
  <div class="container">
    <%= render 'form_new', subject: @subject %>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <%= render 'modal_guide'%>
  </div>
</div>
<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <%= render 'modal_how_to'%>
  </div>
</div>

</div>
<div class="text-center mb-5 mt-5">
  <%= link_to 'Back', subjects_path, class:"btn btn-secondary" %>
</div>
</div>
</div>
