<div class="spacer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <h1 class="title">Créer une Ressource</h1>
              <h6 class="subtitle mb-5">Partagez votre expérience d'apprentissage avec les membres de la communauté.</h6>

              <div class="row">
          <a href="#" class="subtitle ml-5">Comment bien expliquer mes liens?</a>
          </div>
        </div>
      </div>
    </div>

<%= render 'form', subject: @subject %>

<%= link_to 'Back', subjects_path %>

</div>
</div>
</div>