.footer-margin {
  height: 250px;
}

.footer h6 {
  color: #8d97ad;
  transition: 0.3s;
}

.footer h6:hover {
  color: var(--success);
}

@media screen and (max-width: 1000px) {
  .footer-elements {
    margin-bottom: 10px;
  }

  .row-footer {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}