.logo-nav {
  height: 60px;
  width: 60px;
  transition: 0.3s;
  background: center / contain no-repeat
    url(https://res.cloudinary.com/dkeq1ghol/image/upload/v1591779409/logo-wb-black.png);
}

.logo-nav:hover {
  background: center / contain no-repeat
    url(https://res.cloudinary.com/dkeq1ghol/image/upload/v1592230325/logo_wb_color.png);
}

.logo-text-nav {
  color: var(--primary);
  margin-bottom: 0;
  margin-left: 20px;
  transition: 0.3s;
}

.logo-text-nav:hover {
  color: var(--success);
}

@media screen and (max-width: 1000px) {
  .logo-text-nav {
    display: none;
  }
}
