// Place all the styles related to the Profile_Pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_sizing {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.no_img_sizing {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}


.img_sizing-show-subject {
  height: 50px;
  border-radius: 100%;
}

.profil-show-subject-elements { 
  margin-right: 25px !important;
}


@media screen and (max-width: 1000px) {
  .profil-show-subject {
    text-align: center;
  }
  .profil-show-subject-elements {
    margin-bottom: 5px;
  }
}


