.btn-category {
  margin-right: 10px;
}

.block-search .btn {
  display: inline-block;
}

@media screen and (max-width: 800px) { 
    .btn-category {
    width: 100%;
    display: inline-block !important;
    margin-bottom: 20px;
  }
  .block-search .btn {
    width: 100%;
    margin: 10px 0;
  }
}
