// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charte h2{
margin: 15px;
}

.charte p{
  margin: 15px;
  color: black;
  font-size: 1,5em;
  }

.charte li{
  margin: 20px;
  color: black;
  font-size: 1,5em;
}

.pro-pic img {
  width: 100%;
}

.container-text-guideline {
  width: 650px;
  margin: 0 auto;
}

@media screen and (max-width: 610px) {
  .pro-pic img {
    width: 100%;
  }
  .stats .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  } 
}

.stats .card {
  background-color: rgba(228, 228, 228, 0.568) !important;
}

@media screen and (max-width: 350px) {
  .stats .row { 
    display: block;
  }
  .stats .row .card-text { 
    text-align: left !important;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .team2 .pro-pic { 
    min-height: 150px !important;
  }

  .container-text-guideline {
    width: 90%;
    margin: 0 auto;
  }
}

.bulle-card {
  height: 70px;
  width: 70px;
  border-radius: 100%;

  margin: -50px auto 20px auto;
  text-align: center;
}

.icon-card-bulle {
  position: relative;
  bottom: -18px;
}

.container-large {
  width: 90%;
  margin: 0 auto;
}

.container-large .card {
  min-height: 310px;
}

.container-large h2 {
  margin-bottom: 100px;
}

.story-landing {
  background-color: #E4E4E4;
}

