// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charte h2{
margin: 15px;
}

.charte p{
  margin: 15px;
  color: black;
  font-size: 1,5em;
  }

.charte li{
  margin: 20px;
  color: black;
  font-size: 1,5em;
}