// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-bookmark-true {
  color: rgba(0, 0, 0, 0.822);
  transition: .3s;
}

.icon-bookmark-false {
  color: rgba(0, 0, 0, 0.822);
}

.icon-bookmark-true{
  color: rgba(0, 0, 0, 0.822);
  cursor: pointer;
}

.icon-bookmark-false {
  color: #f00;
  cursor: pointer;
}



button.btn-link-modal {
  color: #2cdd9b;
  text-decoration: none;
  transition: .3s;
}

button.btn-link-modal:hover {
  color: #000000;
  text-decoration: none;
}

button.btn-link-modal:focus {
  color: #000000;
  text-decoration: none;
}

.create-btn-resource {
  margin-right: 20px;
  margin-left: 20px;
}

.title-subject {
  display: inline-block;
}

.intro-subject {
  float: right;
}

.btn-state-subject {
  margin-left: 15px;
}


@media screen and (max-width: 800px) {
  .create-btn-resource {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  .create-btn {
    width: 90%;
  }

  button.btn-link-modal {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    float: none !important;
  }

  .intro-subject {
    float: none;
    margin-top: 25px;
  }

  .title-subject {
    text-align: center;
    width: 100%;
  }

  .btn-state-subject {
    display: inline-block;
    width: 290px;
    margin-bottom: 15px;
  }
 
}

.fav-contain {
  display: inline-block;
}

@media screen and (max-width: 400px) {

  .fav-contain {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
}