// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-bookmark-true {
  color: rgba(0, 0, 0, 0.822);
  transition: .3s;
}

.icon-bookmark-false {
  color: rgba(0, 0, 0, 0.822);
}

.icon-bookmark-true {
  color: rgba(0, 0, 0, 0.822);
  cursor: pointer;
}

.icon-bookmark-false {
  color: #f00;
  cursor: pointer;
}

button.btn-link-modal {
  color: #2cdd9b;
  text-decoration: none;
  transition: .3s;
}

button.btn-link-modal:hover {
  color: #000000;
  text-decoration: none;
}

button.btn-link-modal:focus {
  color: #000000;
  text-decoration: none;
}

.create-btn-resource {
  margin-right: 20px;
  margin-left: 20px;
}

.btn-state-subject {
  margin-left: 15px;
}

.card-comment {
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.mobile-block img {
  width: 45px;
  height: 45px
}

.mobile-block .mobile-block {
  border: 0px;
  border-left: 1px solid rgb(185, 185, 185);
  margin-left: 5px;
  padding-left: 15px;
}

.modal-how-to img {
  width: 300px;
  height: auto;
}

.wrap-feature-20 .card,
.card-row-subject,
.card-row-subject .card-body {
  min-height: 140px;
}

.btn-send-edit-subject {
  margin-left: 15px;
}

.form-control2 {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

@media screen and (max-width: 1000px) {
  .btn-send-edit-subject {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .create-btn-resource {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  .create-btn {
    width: 90%;
  }

  .button-up {
    margin-bottom: 10px;
  }

  button.btn-link-modal {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    float: none !important;
  }

  .intro-subject-show {
    margin-left: 10px !important;
  }
 

  .btn-show-subject {
    width: 100%;
  }

  .card-body iframe {
    width: 100%;
  }
}


@media screen and (max-width: 580px) {
  .btn-how-create-subject {
    width: 90%;
    padding-left: 15px !important;
    padding-right: 15px;
  }
}

.row-btn-show-subject {
  width: 100%;
  margin-left: 5px !important;
}


@media screen and (max-width: 770px) {
  .row-intro-subject-like {
    margin-right: 15px;
  }
  .row-btn-show-subject {
    margin-left: 0 !important;
  }
  .row-btn-show-subject div {
    width: 100%;
  }

  .btn-state-subject,
  .btn-state-subject-read,
  .btn-send-edit-subject {
    width: 100%;
    margin-left: 0;
  }

}