// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-user {
  width: 800px;
}

.form-control-edit {
  width: 300px;
  margin: 0 auto;
}