<div style="background-color:#f8f8f8; margin: 5px; text-align: center;">
  <div style="margin: 0 auto; max-width: 600px; font-family: Montserrat, sans-serif;">
    <span style="width:100px; color:#8d97ad;" align="center">
     <%= cl_image_tag("logo_wb_color.png") %>
     <h1 class="title font-bold">WhiteBoard</h1>
    </span>
    <div style="color:#3e4555">
      <div class="card-body">
        <h1 class="title font-bold"> Bonjour <%= @resource.email%> !</h1>
          <p>Nous vous contactons pour vous informer que votre mot de passe a bien été changé</p>
          <p>À très vite sur WhiteBoard ! </p>
          <p><%= link_to nil, "http://whiteboard-thp.herokuapp.com" %></p>
      </div>
    </div>
  </div>
</div>

