<div class="mini-spacer bg-danger-gradiant text-white c2a7">
  <div class="container">
    <div class="d-flex">
      <div class="display-7 align-self-center">Élargissez votre champ, vos savoirs et compétences en rejoignant notre communauté ! </div>
      <div class="ml-auto m-t-10 m-b-10">
        <%= link_to "Nous rejoindre", new_user_registration_path, :class => "btn btn-outline-light btn-md" %>
      </div>
    </div>
  </div>
</div>