<div class="spacer bg-light feature4 footer">
  <div class="container">
    <div class="row w-100 row-footer">
      <div class="col-12 col-sm-2 footer-elements">
        <%= link_to contact_path, method: "GET" do %>
          <h6>Contact</h6>
        <% end %>
      </div>
      <div class="col-12 col-sm-2 footer-elements">
        <%= link_to a_propos_path, method: "GET" do %>
          <h6>À propos</h6>
        <% end %>
      </div>
      <div class="col-12 col-sm-2 footer-elements">
        <%= link_to charte_whiteboard_path, method: "GET" do %>
          <h6>Charte</h6>
        <% end %>
      </div>
      <div class="col-12 col-sm-6">
        <div class="">© Whiteboard 2020</div>
      </div>
    </div>
  </div>
</div>