<div class="spacer feature4 bg-dark">
  <div class="container">
    <div class="row w-100">
      <div class="col-2">
          <a href="#"><h6 class="text-white">Contact</h6></a>
      </div>
      <div class="col-2">
          <a href="#"><h6 class="text-white">FAQ</h6></a>
      </div>
      <div class="col-2">
          <a href="#"><h6 class="text-white">À propos</h6></a>
      </div>
      <div class="col-6">
          <div class="text-right">© Whiteboard 2020</div> 
      </div>    
    </div>
  </div>
</div>