<div class="static-slider10" style="background-image:url(../assets/images/static-slider/slider10/img1.jpg)">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
        <h1 class="title">ONE BILLON People Use Facebook</h1>
        <h6 class="subtitle op-8">Pellentesque vehicula eros a dui pretium ornare. Phasellus congue vel quam nec luctus.In accumsan at eros in dignissim. Cras sodales nisi nonn accumsan.</h6>
        <a class="btn btn-outline-light btn-rounded btn-md btn-arrow m-t-20" data-toggle="collapse" href=""><span>Inscrivez-vous gratuitement <i class="ti-arrow-right"></i></span></a>
      </div>
    </div>
  </div>
</div>
