<div class="static-slider10 jumbotron-landing" style="background-image:url(https://res.cloudinary.com/dkeq1ghol/image/upload/v1592476111/background2_wj8vpu.png)">

    <div class="bloc-text-jumbotron">
      <h1 class="title-jumbotron text-primary pl-0">WhiteBoard</h1>
      <h4 class="text-jumbotron text-dark font-weight-normal pt-2 pb-2 pl-0">Partager c’est apprendre,<br> Échanger c’est comprendre.</h4>
      <%= link_to "Rejoignez-nous", new_user_registration_path, :class => "btn btn-outline-primary btn-md mt-3" %>
    </div>

    <a href="#1">
      <div class="bulle-jumbotron border border-primary">
        <i class="fa fa-angle-down fa-3x icon-jumbotron-bulle text-primary" aria-hidden="true"></i>
      </div>
    </a>
</div>

