<div class="static-slider10" style="background-image:url(<%= asset_path 'background.jpg' %>)">
  <div class="ml-2 mt-2">
    <div>
      <div class="ml-5" data-aos="fade-down" data-aos-duration="1200">
        <h1 class="title text-white col-md-5">WhiteBoard</h1>
        <h3 class="col-md-4 text-white p-2">5 curieux avec la soif d'apprendre ont voulu créer une communauté de partage autour de l'apprentissage de connaissances</h3>
        <%= link_to "Rejoignez-nous", new_user_registration_path, :class => "btn btn-outline-light btn-md mt-3" %>
      </div>
    </div>
  </div>
</div>
